.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 5s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 80px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { display: none;
  transform: rotate(0deg); }
  to { display: block;
  transform: rotate(360deg); }
}

.upload {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.mainContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.paper {
  width: 33vw;
  padding: 5px;
}
.section {
  flex-grow: 1;
  display: flex;
}
.controls {
  flex-grow: .5;
}
.upload div {
  width: inherit;
  height: inherit;
  flex-grow: 1;
  border: 1px dashed black;
}

img {
  max-width: 30vw;
}
.outputCard {
  display: flex;
  flex-direction: column;
}

form {
  display: flex;
  flex-direction: column;
  
}

.formElement {
  justify-content: center;
  display: flex;
}
.tooltip {
  height: 1em;
  width: 1em;
  justify-content:center;
  veritcal-align: bottom;
  display: flex;
  flex-direction: column;
  align-self: center;
}

.tooltip div {
  color: white;
  border-radius: 100%;
  background-color: orange;
  text-align: center;

}
.SavageGallery {
  display: flex;
  justify-content: center;
  width: 66%;
}
